@import url("https://fonts.googleapis.com/css2?family=Chango&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-one: #f05f57;
  --bg-two: #360940;
  --golden-txt: #ffc700;
  --white: #fff;
  --blue-txt: #00bce5;
  --msg-box-bg: #461042;
  --vs-txt: #ff8a00;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: linear-gradient(138deg, #f05f57 0%, #360940 100%) no-repeat;
}

main {
  padding: 5rem;
}

/* Heading */

#title {
  font-family: "Chango", cursive;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 5rem;
  color: var(--golden-txt);
  user-select: none;
}

.sub-title {
  color: var(--white);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.4rem;
  font-weight: 600;
  opacity: 0.9;
  margin-bottom: 6.9rem;
  user-select: none;
}

/* Top Half of the UI */

.main-container {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1em;
  border: 0.3em solid rgba(255, 199, 0, 0.2);
  padding: 5em;
  max-width: 90rem;
  margin-inline: auto;
  min-width: 68rem;
}

.top-half {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.score {
  width: 5rem;
  user-select: none;
  font-size: 8rem;
  font-weight: 900;
  color: var(--golden-txt);
  font-style: italic;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}

.weapon-main-display-wrapper {
  display: flex;
  align-items: center;
  gap: 1.7em;
  margin-inline: 7rem;
}

.vs {
  user-select: none;
  font-size: 4rem;
  color: var(--vs-txt);
  font-weight: 900;
  font-style: italic;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 1px 0px #f00;
}

.chosen-weapon {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  width: 16rem;
  height: 16rem;
  font-size: 10rem;
  text-align: center;
  text-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.player-name {
  user-select: none;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--golden-txt);
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin-bottom: 0.4rem;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

/* Middle Half of the UI */

.weapon-choice-text {
  user-select: none;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.85;
  text-align: center;
  margin: 5rem 0;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.weapons-container {
  display: flex;
  justify-content: center;
  gap: 7em;
}

.weapon-item h3 {
  font-size: 6.5rem;
  text-align: center;
  background-color: var(--golden-txt);
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  /* text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2); */
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  user-select: none;
}

.weapon-item h3:hover {
  background-color: #fed12e;
  transform: scale(1.01);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.weapon-item h3:active {
  background-color: #eab804;
  transform: scale(1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.weapon-name {
  user-select: none;
  color: rgba(255, 199, 0, 0.6);
  margin-top: 0.5em;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Bottom Half of the UI */

.message-box {
  padding: 1rem;
  margin-top: 3rem;
  margin-inline: auto;
  width: 60%;
  border-radius: 0.5rem;
  background: var(--msg-box-bg);
}

.game-message {
  color: var(--blue-txt);
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  animation: fade 500ms ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Game Over Styles */

.game-out-come {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  margin-inline: auto;
  /* min-width: 68rem; */
  background-color: rgba(79, 24, 105, 0.857);
  backdrop-filter: blur(15px);
  padding: 3em;
  /* border-radius: 1rem; */
  display: none;
  place-content: center;
}

.show {
  display: grid;
}

.game-over-emoji {
  text-align: center;
  font-size: 15rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}

.game-over-txt {
  font-size: 8rem;
  text-align: center;
  color: var(--vs-txt);
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.play-again-btn {
  display: block;
  margin-inline: auto;
  text-align: center;
  margin-top: 5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 1em;
  border-radius: 0.3em;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: var(--bg-one);
  color: var(--white);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 100ms ease-in-out;
  margin-bottom: 2em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.play-again-btn:hover {
  background-color: #e7524a;
  scale: 1.05;
}

.play-again-btn:active {
  background-color: #d4433b;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
  scale: 1;
}
